n8n/import-data/workflows/kZwSrIlr0FBcFuVw.json
{
  "createdAt": "2025-09-26T14:50:35.529Z",
  "updatedAt": "2025-09-27T20:15:23.384Z",
  "id": "kZwSrIlr0FBcFuVw",
  "name": "test_n8n",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true,
          "chatIds": "104350862"
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -528,
        -48
      ],
      "id": "c10c94d0-141c-464d-a338-86af4b1c6157",
      "name": "Telegram Trigger",
      "webhookId": "6640a14b-5697-4a23-9d4f-7c2af443d0df",
      "credentials": {
        "telegramApi": {
          "id": "jXDOrBeZepPh1O5z",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "type": "SHA256",
        "binaryData": true,
        "dataPropertyName": "=sha256_checksum"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        16,
        48
      ],
      "id": "8436ffca-efbc-4e63-9e40-5aea11e75c1c",
      "name": "Crypto"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.message.document.file_name }}",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "=1JasKxZmeWERdFwsj1zAsbxdqniYjX7Ax",
            "mode": "id"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -304,
        -144
      ],
      "id": "e048d74d-ae40-4d40-bdd2-9cb0fa1cb9d9",
      "name": "Search files and folders",
      "alwaysOutputData": true,
      "notesInFlow": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JqSzUPdshsottef3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/{{ $json.message.document.file_name }}",
        "options": {
          "append": false
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -144,
        48
      ],
      "id": "2e3888d9-fc1e-4386-a7af-cfb618d0dbd4",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -144,
        -144
      ],
      "id": "3a72c8e1-5b18-4d28-86cf-81ec27bc9273",
      "name": "Download file",
      "alwaysOutputData": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JqSzUPdshsottef3",
          "name": "Google Drive account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "type": "SHA256",
        "binaryData": true,
        "dataPropertyName": "=sha256_checksum"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        16,
        -144
      ],
      "id": "6f7ad674-f253-4819-965e-5739434b50db",
      "name": "Crypto1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "sha256_checksum",
              "field2": "sha256_checksum"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        368,
        -80
      ],
      "id": "6e5b139b-0b51-4133-a598-7ac3ef37b56b",
      "name": "Compare Datasets"
    },
    {
      "parameters": {
        "jsCode": "return [\n  { \n    filename: $input.first().json.name,\n    sha256_checksum: $input.first().json.sha256_checksum\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        -144
      ],
      "id": "212f0c27-c9e2-4825-b0b3-abf05a2cfe4a",
      "name": "Code in JavaScript",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "return [\n  { \n    filename: $input.first().json.message.document.file_name,\n    sha256_checksum: $input.first().json.sha256_checksum\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        48
      ],
      "id": "0ec58c44-534d-4fe2-bb3d-9131509e8b7d",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "fileSelector": "=/tmp/{{ $json.filename }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        608,
        0
      ],
      "id": "39e9b881-9b50-45b7-815c-5af89418e742",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "name": "={{ $json.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=1JasKxZmeWERdFwsj1zAsbxdqniYjX7Ax",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        736,
        0
      ],
      "id": "6b2ae995-14af-4781-ac48-7c0083acc71d",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JqSzUPdshsottef3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "command": "=[ -f \"/tmp/{{ $json.filename }}\" ] && rm \"/tmp/{{ $json.filename }}\"  && echo \"File  \\\"/tmp/{{ $json.filename }}\\\" eliminato.\" || echo \"Il file \\\"/tmp/{{ $json.filename }}\\\"  non esiste.\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        928,
        -64
      ],
      "id": "03688d73-e45f-4a5b-aaaa-37eb7ced57a4",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        928,
        80
      ],
      "id": "2c77d3b5-714d-4358-9430-aeafb293ce15",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JqSzUPdshsottef3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "434c9bdd-3852-4804-a05e-00ee39841bf3",
              "name": "source",
              "value": "GDrive",
              "type": "string"
            },
            {
              "id": "f98bac67-1d8f-4a73-a642-d99aa0329326",
              "name": "fileName",
              "value": "=slip_{{   $now.format('ddLLyyyyHHmm') }}.{{ $json.fileExtension }}",
              "type": "string"
            },
            {
              "id": "8f13ce04-3ab7-478e-98af-d8353eec478a",
              "name": "fileId",
              "value": "={{ $json.permissions[0].id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        80
      ],
      "id": "49d6221d-60a5-496b-9039-6c26897bd0b0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "^image/(jpg|jpeg|png)$",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    },
                    "id": "559d6167-b784-4e0b-94be-8fc6a2bb3cd1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "aafa2ba0-a9f0-45ff-82b4-e4166ab5d26b",
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        528,
        384
      ],
      "id": "bf1d4bc8-4aaa-415a-8bba-03ca5a2f32e0",
      "name": "Switch"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        752,
        480
      ],
      "id": "330d55ea-bfcc-43c8-8281-069f7ea18f88",
      "name": "Extract text PDF",
      "credentials": {
        "mistralCloudApi": {
          "id": "OiGDnJhYajdQp1Cb",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        752,
        288
      ],
      "id": "1fd77592-19fa-46c9-93df-cedb0623c2c8",
      "name": "Extract text Image",
      "credentials": {
        "mistralCloudApi": {
          "id": "OiGDnJhYajdQp1Cb",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1840,
        416
      ],
      "id": "af3e7ce5-8994-4a62-9199-b2c59acab419",
      "name": "Wait",
      "webhookId": "4f8ce6b0-f70a-4fd2-a7e6-bb8ddfa2656b"
    },
    {
      "parameters": {
        "fieldToSplitOut": "pages",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1056,
        400
      ],
      "id": "fd8a2413-192d-4b52-8640-a399b8a63165",
      "name": "Split Out"
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1264,
        400
      ],
      "id": "c2ab869c-de5b-4091-9dd1-1febed13d6d7",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "text": "=Messaggio:\n{{ $('Telegram Trigger').item.json.message.caption }}\nLocandina:\n{{ $json.stdout }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "[\n  {\n    \"output\": {\n      \"titolo\": \"Evento Informativo Benessere e Sonno\",\n      \"data\": \"01/10/2025\",\n      \"ora\": \"20:15\",\n      \"dove\": \"Sala Associazione, Via Matteotti, 7, Gornate Olona\",\n      \"descrizione\": \"La ditta Ondatheraphy terrà un evento informativo sul benessere del sonno e i materassi, donando 340€ all'associazione Osteoarc per le sue attività.  Sarà offerto un ricco buffet e un omaggio alle coppie partecipanti (fino a 3 persone non in coppia, dai 30 ai 75 anni).  Si richiede puntualità e l'assenza di bambini.\"\n    }\n  }\n]",
        "options": {
          "systemPromptTemplate": "You are an expert in effective communication and event description. Your role is to write clear, precise, and impactful event description, avoiding unnecessary words or ambiguity. Always focus on brevity, clarity, and accuracy, ensuring your explanations are professional, direct, and easy to understand.\nThe \"descrizione\" must be in Italian lang. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        1600,
        48
      ],
      "id": "74665ce4-f658-40fc-8e76-04d4c13f937e",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": "gemma3:12b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        1584,
        208
      ],
      "id": "273ac9bc-7e23-4773-9150-6ced3202a67a",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "command": "=echo \"{{ $json.markdown }}\" \\\n| sed -E 's/!\\[.*\\]\\(.*\\)//g; s/\\*\\*//g; s/^#+[ ]*//g; s/^- //g; s/\\\\\"//g' \\\n| sed '/^[[:space:]]*$/d' \\\n| tr -s ' ' \\\n| tr -d '\\n' \\\n| tee /tmp/summarize.txt"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1552,
        416
      ],
      "id": "4b86b006-b93f-4fa3-ba1e-6fe60a539b69",
      "name": "Execute Command1"
    },
    {
      "parameters": {
        "command": "=cat /tmp/summarize.txt"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1456,
        48
      ],
      "id": "353cd276-0c0e-49d2-aa84-e03e1217ffc2",
      "name": "Execute Command2"
    },
    {
      "parameters": {
        "command": "=rm /tmp/summarize.txt"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2032,
        48
      ],
      "id": "6fbfc9df-5292-4178-babb-7a34aaeacc77",
      "name": "Execute Command3"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "120RTjkIjOZdHoKUgyEIhMr1W4wsqsitrQXj_KTiKNTQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Foglio1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/120RTjkIjOZdHoKUgyEIhMr1W4wsqsitrQXj_KTiKNTQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "descrizione": "={{ $json.output[0].output.descrizione }}",
            "dove": "={{ $json.output[0].output.dove }}",
            "ora": "={{ $json.output[0].output.ora }}",
            "data": "={{ $json.output[0].output.data }}",
            "titolo": "={{ $json.output[0].output.titolo }}",
            "id_file": "={{ $('Edit Fields').item.json.id }}",
            "id": "={{ $('Edit Fields').item.json.sha256Checksum }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "titolo",
              "displayName": "titolo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ora",
              "displayName": "ora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dove",
              "displayName": "dove",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "descrizione",
              "displayName": "descrizione",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id_file",
              "displayName": "id_file",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1872,
        48
      ],
      "id": "49df7dc8-e0ec-44e9-9649-b64eb84c1718",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NxWaDBIk7Np1fizK",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Crypto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [],
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        []
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract text Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract text PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text Image": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text PDF": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Execute Command2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command2": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Execute Command3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d84d36a4-77c8-4822-98f9-3189cfc5e09b",
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-09-27T13:57:29.726Z",
      "updatedAt": "2025-09-27T13:57:29.726Z",
      "role": "workflow:owner",
      "workflowId": "kZwSrIlr0FBcFuVw",
      "projectId": "G6CtU2rrwzyFRW0C",
      "project": {
        "createdAt": "2025-09-27T13:57:27.503Z",
        "updatedAt": "2025-09-27T14:15:16.505Z",
        "id": "G6CtU2rrwzyFRW0C",
        "name": "Filippo Di Marco <filidm5795@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}